*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span.mdl-layout-title a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: 600;
}
.headerBg{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homeBg{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.banner-area{
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-logo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px double turquoise;
}
.avatar-logo img{
  object-fit: cover;
}
.banner-text {
  background-color: black;
  opacity: 0.7;
  margin: auto;
  width: 75%;
  border-radius: 8px;
  padding: 20px;
  margin-top: 25px;
}

.banner-text h3 {
  text-align: center;
  color: white;
  padding-top: 10px;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}
.banner-text p {
  color: white;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}
.social-link {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: auto;
}

.social-link svg{
    color: white;
}
.Font-style{
  background-color: antiquewhite;
  color:#fff ;
}
/* Project */
.project-grid{
  display: flex;
}

.card-action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}